div {
          background-color: rgb(103, 204, 204);
          background-image: none;
          margin: 5px;
          border: 5px solid blueviolet;
          border-radius: 10px;
          width: 50%;

}

p {
          color: blueviolet;

}

h1 {
          color: rgb(144, 110, 69);
}